.container00 {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.logoPc {
  width: 240px;
  margin-left: -15px;
  margin-right: 20px;
}

.title {
  padding-top: 200px;
  margin-left: 10px;
}

.medium-title {
  width: 550px;
  margin-bottom: -25px;
}

.shortTitle {
  width: 650px;
  margin-bottom: -25px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
  font-size: 16px;
  border-radius: 5px;
}

.downloadDesc {
  padding-top: 15rem;
  background-color: black;
  height: 85vh;
  a {
    text-decoration: none;
    color: $hover-color;
  }
  button {
    margin-right: 10px;
    border: 2px solid white;
  }
}

.footer {
  background-color: black;
  min-height: 15vh;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 20px;
  a {
    text-decoration: none;
    color: $hover-color;
    font-weight: bold;
  }
  span {
    color: $copy-color;
  }
}

@media (max-width: 650px) {
  .medium-title {
    width: auto;
  }
  .shortTitle {
    width: auto;
  }
}

@media (max-width: 390px) {
  .logoPc {
    width: 180px;
  }
  .footer {
  }
}

@media (max-width: 330px) {
  .logoPc {
    width: 150px;
  }
}
